/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
    -webkit-font-smoothing: antialiased;
}

body {
    color: #4a4a4a;
    background-color: #fefefe;
    font-family: 'Raleway', Arial, sans-serif;
    font-weight: 400;
    font-size: 0.85em;
    overflow: hidden;
}

a {
    color: #8085C1;
    text-decoration: none;
    border: none;
}

a img {
    outline: none;
}

a:hover {
    color: #555;
    border: none;
}

.separator {
    color: #555;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

#logo {
    max-width: 180px;
    height: auto;
    width: 100%;
    padding:3px;
    border: 1px solid #e7e7e7;
    margin-bottom:10px;
}

#cjbslogo {
    margin-left:-55px;
    max-width: 250px;
    height: auto;
    float: center;
    padding-bottom: 15px;
}

.posts a {
    color: #444;
}

.posts a:hover {
    color: #777;
}

.posts-list {
    margin-top:0.5em;
    list-style-type: none;
}

.posts-list li {
    text-align: center;
    line-height: 1.5em;
}
.sidenav a {
    color: #444;
}

.sidenav a:hover {
    color: #777;
}

.sidenav-list {
    list-style-type: none;
}

.sidenav-list li {
    text-align: center;
    line-height: 1.75em;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
    height: 100%;
    width: 100%;
    line-height: 1.25em;
}

.title {
    display: inline-block;
    text-align: center;
    line-height: 25px;
}

.myname {
    width: 100%;
    font-weight: 600;
    text-align: center;
    margin-top: 0.25em;
    display: block;
    font-size: 1.75em;
    line-height: 1.0em;
}

.tagline {
    color: #787878;
    width: 100%;
    font-weight: 400;
    text-align: center;
    margin-top: 0.25em;
    display: block;
    font-size: 1em;
}

.sidenav {
    border-top: 1px solid #e7e7e7;
    margin-top: 1em;
    padding-top: 1.25em;
}

.posts {
    border-top: 1px solid #e7e7e7;
    margin-top: 1em;
    padding-top: 1.25em;
    overflow: auto;
}

.footer {
    font-size: 0.95em;
    border-top: 1px solid #e7e7e7;
    padding-top: 1.25em;
    padding-bottom: 1.5em;
    overflow: hidden;
    float: center;
    text-align: center;
}

#contact_email {
    color: #fafbfc;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#date {
    font-size: 16px;
    /* padding-top: 0.25em; */
    margin-bottom: 2em;
    text-transform: uppercase;
    font-weight: 600;
    color: #787878;
}

#cover-photo-container,
#info-container {
    display: block;
}

#cover-photo-container {
    padding-top: 2.05em;
}

#cover-photo {
    padding-top: 2px;
    padding-bottom: 2px;
    border-bottom: 2px solid #e7e7e7;
    border-top: 2px solid #e7e7e7;
}

#info-container {
    margin-top: 2.2em;
    margin-bottom: 1.5em;
}

#title {
    color: #4a4a4a;
    margin-bottom: 0.5em;
    font-size: 2em;
    line-height: 30px;
    text-transform: uppercase;
}

.post {
    line-height: 24px;
    max-width: 725px;
    clear: both;
}

.post h2 {
    margin-top: 1.25em;
    margin-bottom: 1.25em;
}

.post a,
#about a {
    border-bottom: 1px solid #8085C1;
}

.post a:hover {
    border: none;
}

/* standard */
.post pre {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .4em;
}

.post p {
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 17px;
    margin-bottom: 1.45em;
    text-align: justify;
}

.post ul, .post ol {
    margin-left: 2.0em;
    margin-bottom: 1.25em;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size:17px;
}

.post code {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .2em;
}

.post pre code {
    border: none;
}

/* terminal */
.post pre.terminal {
    border: 1px solid #000;
    background-color: #333;
    color: #FFF;
}

.post pre.terminal code {
    background-color: #333;
}

/*****************************************************************************/
/*
/* Sidebar and Content
/*
/*****************************************************************************/

.sidebar,
.content {
    vertical-align: top;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
    overflow-x: hidden;
}

.sidebar {
    float: left;
    width: 14%;
    padding-left: 11em;
    padding-right: 2.125em;
    border-right: 1px solid #e7e7e7;
}

.content {
    padding-left: 2.125em;
}

.header {
    text-align: center;
    padding-top: 2.05em;
    font-size: 1.1em;
}

.nav-title {
    font-weight: 600;
    font-size: 1.25em;
    text-transform: uppercase;
}

.posts {   
    text-align: center;
}

.sidenav-title {
    font-weight: 600;
    font-size: 1.5em;
    text-transform: uppercase;
}

.sidenav-link {
    margin-bottom: 0.75em;
}

.blogroll-title {
    font-weight: 600;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 1em;
    text-align: center;
    line-height: 1.75em;
      border-bottom: dotted 1px #AAAAAA;
      display: inline;
      padding-bottom: 0.2em;
}

.post-link {
    margin-bottom: 0.75em;
}

.post-title {
    font-weight: 600;
    font-size: 1.25em;
}

.post-date {
    color: #8a8a8a;
    font-family: Monaco, "Courier New", monospace;
    font-weight: 600;
    font-size: 0.65em;
    display: block;
    text-transform: uppercase;
}

#sidebar-button {
    height: intrinsic;
    cursor: pointer;
    display: none;
    padding: 15px 5px 0px 0px;
    margin-bottom: 10px;
    border-bottom: 1px solid #e7e7e7;
}

#sidebar-button:active,
#sidebar-button:hover {
    opacity: 0.7;
}

/*****************************************************************************/
/*
/* Colophon
/*
/*****************************************************************************/

.colophon {
    margin-top: 1.5em;
    margin-bottom: 1.45em;
    border-top: 1px dotted #e7e7e7;
}

.colophon p {
    margin-top: 1.25em;
    font-size: 0.95em;
    color: #777;
}
