<div class="content" id="home">
  <div id="sidebar-button">
    <img src="/images/sidebar-button.png">
  </div>
  <div id="post-info">
    <div id="cover-photo-container">
<!--    <img id="cover-photo" src="/images/{{ page.cover }}"> -->
    </div>
    <div id="info-container">
      <!--    <h1 id="title">{{ page.title }}</h1> 
      <span id="date">{{ page.date | date_to_string }}</span>-->
    </div>
  </div>

  <div class="post">
    {{ content }}
  </div>
  <div class="colophon">
    <p>
      <span id="pub-date">Published on {{ page.date | date_to_string }}</span> <span class="separator">&bull;</span>
        <span id="social">Contact me by <a target="_blank" id="contact_foot" href="http://www.google.com/recaptcha/mailhide/d?k=01RgRLgvxEUrUhAUtFCSPNRA==&amp;c=0nIRqiLvmUU-5ifT56SvMSY2hB9qsGA9T0u6dIWkHPI=">email</a></span> <span class="separator">&bull;</span>
      <span id="social">Connect with me on <a href="https://uk.linkedin.com/in/mfrmn">LinkedIn</a></span>
    </p>
  </div>
</div>
<span id="contact_email">mef3<span style="display:none">3829</span>5@cam.a<span style="display:none">k</span>c.uk</a></span>